{
  "extends": ["taro/react"],
  "rules": {
    "react/jsx-uses-react": "off",
    "react/react-in-jsx-scope": "off",
    "indent": [
      2,
      4,
      {
        "SwitchCase": 1
      }
    ]
  }
}
