.jbbMbtiTest{
    padding:20px;
    &Header{
        position: sticky;
        top: 0;
        padding: 20px;
        border-radius: 10px;
        box-shadow:  0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    }
    &Body{
        padding: 40px 20px;
        &Title{
            font-size: 40px;
            font-weight: bold;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom: 60px;
        }
        &Option{
            display: flex;
            align-items: center;
            justify-content: flex-start;
            &Checked{
                margin-left: 20px;
            }
        }
    }
    &Footer{
        position: fixed;
        bottom: 0;
        left: 0px;
        min-height: 100px;
        width: calc(100% - 40px);
        padding: 20px;
        margin-bottom: 40px;
    }
}
