.jbbMbti {
    padding: 40px;
    line-height: 1.6;
    color: #333;
    &CharacterName{
        font-size: 40px;
        font-weight: bold;
    }
    &Date{
        display: flex;
        justify-content: flex-end;
        font-size: 28px;
        color: #999;
        margin-bottom: 40px;
    }
    &Character{
        display: flex;
        align-items: center;
        &Label{
            font-size: 32px;
            font-weight: bold;
            margin-right: 16px;
            white-space: nowrap;
        }
    }
}

.jbbMbtiTitle {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 32px;
}

.jbbMbtiSection {
    margin-bottom: 32px;
    font-size: 32px;
    color: #666;
}

.jbbMbtiSubsection {
    font-size: 26px;
    font-weight: bold;
    margin-top: 24px;
    margin-bottom: 16px;
    color: #444;
}

.jbbMbtiDimension {
    font-size: 32px;
    margin-bottom: 16px;
    color: #555;

    .arrow {
        display: inline-block;
        width: 100px;
    }
}

.jbbMbtiExample {
    font-size: 28px;
    margin-left: 32px;
    color: #777;
}

.jbbMbtiList {
    font-size: 28px;
    line-height: 1.8;
    margin-left: 32px;
    color: #555;

    br {
        display: block;
        content: "";
        margin-bottom: 16px;
    }
}

.hiddenResult{
    height: 300rpx;
    /* 线性渐变：从上到下，从半透明到完全透明 */
    mask-image: linear-gradient(to bottom, rgba(0,0,0,0.5), transparent);
    -webkit-mask-image: linear-gradient(to bottom, rgba(0,0,0,0.5), transparent);
    /* 兼容性写法 */
    pointer-events: none; /* 允许点击穿透 */
    overflow: hidden;
}
